<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Beam Analysis</title>
    <style>
        body{
            margin: 20px;
            padding: 20px;
        }
        .students{
            margin-bottom: 40px;
            background-color: aqua;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div>
        <h2>Sutedent's List:</h2>
        <hr>
        {% for student in students %}
        <div class="students">
            <a href="{{url_for('student_details', name=student.name)}}">View Details of - {{ student.name }}</a>
        </div>    
        {% endfor %}
    </div>
</body>
</html>